{
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:react/jsx-runtime",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "ignorePatterns": [
        "node_modules",
        "build",
        "dist",
        "public"
      ]
}